/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
    --iriscolor: #4D5AE5;
    --navyblue: #2E2F42;
    --navcolor: black;
    --oceancolor: #2196F3;
    --whitecolor: white;
    --slatecolor: #434455;
}

/*-----------------------------------*\
  #Header
\*-----------------------------------*/
.link-logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 800;
}

.web-l {
    color: var(--iriscolor);

}

.studio-l {
    color: var(--navyblue, #2E2F42);

}

.navbar .pages {
    color: var(--navcolor);
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.15;
    letter-spacing: 0.05em;
}

.lists {
    list-style-type: none;
}

.navbar .pages:hover,
.navbar .pages:focus,
.navbar .pages.currentoption,
.contact-info .info:hover,
.contact-info .info:focus {
    color: var(--oceancolor);
}

.contact-info .info {
    color: var(--navcolor);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.15;
    letter-spacing: 0.05em;
    text-decoration: none;
}

/*-----------------------------------*\
  #Main Section 
\*-----------------------------------*/
.bg-section1 {
    background-color: var(--navyblue);
    height: 220px;
}

.button-container-div {
    width: 100%;
    display: flex;

}

.h1-title {
    color: var(--whitecolor);
    font-size: 50px;
    font-weight: 800;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.05em;
}

.btn {
    cursor: pointer;
    border-color: transparent;
    letter-spacing: 0.05em;
    font-family: inherit;

}

.btn.primary {
    background-color: var(--oceancolor);
    color: var(--whitecolor);
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

/*---- Portfolio page ----*/
.btn.primary2 {
    background: var(--ocean, #404BBF);
    color: var(--white, #FFF);
    text-align: center;
    display: flex;
    align-items: flex-start;
    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
}

.btn.website {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
    color: var(--iris, #4D5AE5);
    text-align: center;
    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
}

.btn.app {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
    color: var(--iris, #4D5AE5);
    text-align: center;
    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
}

.btn.design {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
    color: var(--iris, #4D5AE5);
    text-align: center;
    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
}

.btn.marketing {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
    color: var(--iris, #4D5AE5);
    text-align: center;
    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
}

.btn.primary:hover,
.btn.primary:focus {
    background-color: hotpink;
}

.desclist.titlelist {
    font-weight: 800;
    font-size: 14px;
    line-height: 1.5;
    color: var(--slatecolor);
}

.sectiontitle {
    text-align: center;
    color: var(--navyblue);
    font-size: 36px;
    font-weight: 900;
    line-height: 1.5;
}

.teamname {
    color: var(--navyblue);
    font-weight: 900;

}

.position {
    color: var(--slatecolor);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
}

.footerbg {
    background-color: var(--navyblue);
}

.web-logo {
    color: var(--iriscolor);


}

.studio-logo2 {
    color: var(--whitecolor);



}

.lastword {
    color: var(--whitecolor);


}